* {
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: #f8f9fa;
  height: -webkit-fill-available;
}

body {
  background: transparent;
  min-height: -webkit-fill-available;
}

header,
main,
footer {
  background: #fff;
}